/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: roboto;
}
main {
    width: 1200px;
    margin: 0 auto;
}

.titulo{
    width: 500px;
    background-color: #b3e0ff;
    font-size: 35px;
    text-align: center;
    justify-content: center;

}

.home{
    background-color: #b3e0ff;
    width: 500px;
}

.menu {
    font-size: 19px;
    width: 500px;
    align-items: flex-start;
    line-height: 19px;
    justify-content: right;
    background-color: #6a0dad;
}

.imagem-pets{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #b3e0ff;
}

.servicos{
    width: 50px;
    font-size:  35px;
    text-align: center;
    justify-content: center;

}

















.contato{
    background-color: #b3e0ff;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.rotulo{
    font-weight: bold;
    font-family: "Roboto";
    font-size: 30px;
    display: block;
}

.campo-texto{
    font-size: 16px;
    color: black;
    padding: 7px 10px;
}

.form-contato input, .form-contato textarea{
    width: 417px;
    padding: 8px;
    box-sizing: border-box;
}

.form-contato label{
    margin-bottom: 5px;
}

.form-contato{
display: flex;
flex-direction: column;
margin-bottom: 15px;
}

.botao-enviar{
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #b3e0ff;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  1px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}








